@import '../../../scss/breakingPoints.scss';

.container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;
}

.formLogin {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 90%;
  @include medium {
    width: 35%;
  }
}
