@import '../scss/colors.scss';

.navBar {
  background-color: $primary-light;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  overflow-x: visible;
  padding: 20px 20px 20px 20px;
  width: 100vw;
}

.navBar.dark {
  background-color: $primary-dark;
}

.navItem {
  margin-left: 20px;
  list-style: none;
  color: $text-color;
}

.navItem.dark {
  color: $text-color-dark;
}
