@import '../../../scss/colors.scss';

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.button {
  background-color: $secondary-light;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid $secondary;
  color: $text-color;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.6rem;
}

.button.dark {
  background-color: $secondary-dark;
  color: $text-color-dark;
}
