@import '../../scss/colors.scss';
@import '../../scss/breakingPoints.scss';

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.navigation {
  background: $primary;
  border-left: 10px solid $primary;
  height: 100%;
  overflow: hidden;
  position: fixed;
  transition: 0.5s;
  width: 300px;
  left: -300px;
  @include small {
    left: 0px;
  }
}
.active {
  left: 0;
  width: 300px;
  @include small {
    width: 80px;
  }
}

.navigation.dark {
  background: $primary-dark;
  border-left: 10px solid $primary-dark;
}

.navigation ul {
  left: 0;
  position: absolute;
  top: 200;
  width: 100%;
}
.navigation ul li a.hovered,
.navigation ul li {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  list-style: none;
  position: relative;
  width: 100%;
}
.navigation ul li a.hovered,
.navigation ul li:hover {
  background: $primary-light;
}

.navigation ul li.dark a.hovered,
.navigation ul li.dark:hover {
  background: $primary;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 50px;
  pointer-events: none;
}

.navigation ul li:nth-child(1).active {
  @include small {
    top: 50px;
  }
  pointer-events: none;
  -webkit-transform-origin-y: all 1s linear;
  -webkit-margin-collapse: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}

.navigation ul li a {
  color: $text-color;
  display: block;
  display: flex;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.navigation ul li.dark a {
  color: $text-color-dark;
}

.navigation ul li a.hovered,
.navigation ul li:hover a {
  color: $text-color;
}
.navigation ul li.dark a.hovered,
.navigation ul li.dark:hover a {
  color: $text-color-dark;
}

.navigation ul li a .icon {
  display: block;
  height: 60px;
  line-height: 70px;
  min-width: 60px;
  position: relative;
  text-align: center;
}

.navigation ul li a .icon:nth-child(1) {
  font-size: 1.75em;
}
.navigation ul li a .title {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  position: relative;
  text-align: start;
  white-space: nowrap;
}

/* Curve outside*/
.navigation ul li a.hovered::before,
.navigation ul li:hover a::before {
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px $primary-light;
  content: '';
  height: 50px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
}
.navigation ul li.dark a.hovered::before,
.navigation ul li.dark:hover a::before {
  box-shadow: 35px 35px 0 10px $primary;
}

.navigation ul li a.hovered::after,
.navigation ul li:hover a::after {
  background-color: transparent;
  border-radius: 50%;
  bottom: -50px;
  box-shadow: 35px -35px 0 10px $primary-light;
  content: '';
  height: 50px;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 50px;
}

.navigation ul li.dark a.hovered::after,
.navigation ul li.dark:hover a::after {
  box-shadow: 35px -35px 0 10px $primary;
}

.noshadow {
  background: transparent !important;
}

.navigation ul li div {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 1rem;
}
