@import '../../../scss/breakingPoints.scss';

.container {
  position: absolute;
  width: 100vw;
  left: 1em;
  @include small {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    padding-left: 50px;
    padding-right: 10px;
    position: fixed;
    z-index: 1;
  }
}

.formRegister {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 90%;
  @include medium {
    width: 35%;
  }
}

.formRegister h1 {
  align-self: center;
  margin-bottom: 15px;
}
