$primary: #8e24aa;
$primary-light: #c158dc;
$primary-dark: #5c007a;

$secondary: #7e57c2;
$secondary-light: #b085f5;
$secondary-dark: #4d2c91;

$text-color: #000;
$text-color-dark: white;
$text-color-link: white;
$text-color-link-dark: white;
$text-color-active: rgb(248, 134, 229);

$background-color: $secondary-light;
$background-color-dark: $secondary-dark;
