$primary: #f8afa6;
$primary-light: #fadcd9;
$primary-dark: #cc7970;

$complementary: #a6f7cf;

$text-color: #000;
$text-color-dark: rgb(255, 247, 247);

$background-color: #fdf3f3;
$background-color-dark: #7c4944;

$button-success: #218838;
$button-danger: #c82333;
$button-warning: #e0a800;
$button-info: #138496;
$button-light: #e2e6ea;
$button-dark: #343a40;
