$primary: #455a64;
$primary-light: #718792;
$primary-dark: #1c313a;

$secondary: #4caf50;
$secondary-light: #80e27e;
$secondary-dark: #087f23;

$text-color: #000;
$text-color-dark: white;
$text-color-link: white;
$text-color-link-dark: white;
$text-color-active: rgb(248, 134, 229);

$background-color: #8ecc6252;
$background-color-dark: #004d40;

// $primary: #8e24aa;
// $primary-light: #c158dc;
// $primary-dark: #5c007a;

// $secondary: #7e57c2;
// $secondary-light: #b085f5;
// $secondary-dark: #4d2c91;

// $text-color: #000;
// $text-color-dark: white;
// $text-color-link: white;
// $text-color-link-dark: white;
// $text-color-active: rgb(248, 134, 229);

// $background-color: rgb(255, 220, 252);
// $background-color-dark: $secondary-dark;
