@import '../../scss/colors.scss';
@import '../../scss/breakingPoints.scss';

.navBar {
  align-items: center;
  background-color: $primary;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex: 1;
  margin: 0;
  overflow-x: visible;
  box-shadow: 2px 2px 2px 1px $primary-dark;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navBar.dark {
  background-color: $primary-dark;
}

.ulFirst {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  @include small {
    flex-direction: row;
    flex: 1;
  }
}

.ulLast {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  flex: 4;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  @include small {
    flex: 2;
  }
}

.liNone {
  list-style: none;
}

.liLast {
  margin-left: 1rem;
}

.navItem {
  color: $text-color;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.navItem.dark {
  color: $text-color;
}

.nav-active {
  color: $text-color-dark !important;
  transition: all 0.3s ease-out;
}

.mt-div-small {
  margin-top: 3%;
  @include small {
    margin-top: 0px;
  }
}
